STAGING_POSTGRES_DB=staging
STAGING_POSTGRES_USER=postgres
STAGING_POSTGRES_PASSWORD=postgres
STAGING_RABBITMQ_USER=guest
STAGING_RABBITMQ_PASSWORD=guest
STAGING_MINIO_ACCESS_KEY=minioadmin
STAGING_MINIO_SECRET_KEY=minioadmin
CAMUNDA_ADMIN_PASSWORD=beeatlas
